@using HitServicesCore.Models.SharedModels;
@using DevExtreme.AspNet.Mvc;
@using HitServicesCore.Models.SharedModels;
@using HitServicesCore.Models.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/ReadCsv/ReadCsv.js"></script>
<script src="~/js/ExportData/ExportData.js"></script>
<link rel="stylesheet" href="~/css/Plugins/Plugins.css">
<link rel="stylesheet" href="~/css/Services/services.css" />
<link rel="stylesheet" href="~/css/Configuration/configuration.css" />
<link rel="stylesheet" href="~/css/InitDB/initdb.css" />
<link rel="stylesheet" href="~/css/ExportData/exportdata.css" />
<link rel="stylesheet" href="~/css/SaveToTable/SaveToTable.css" />

<div class="b1psb">
    <div class="custom-flex-column custom-flex-100 header">
        <h1 class="tac">Read Csv</h1>

        <label style="display:none"></label>
        <div class="flex-container" style="margin-top: 25px;background: none;">
            <div class="flex-item flex-basis-50">
                <label for="scripts">Choose a Read Csv Service :</label>
                <select name="scripts" style="width:300px;" id="ReadFromCsv" onchange="selectCurrentScript(this)">
                </select>
                &nbsp;
                <button style="        border: 1px solid black;background: #00468b;color: white;height: 50px;width: 100px;" onclick="updateFile()">Update</button>
            </div>
            <div class="flex-item" style="        flex-basis:75%;">
                <div class="flex-item flex-basis-35">
                    <label>Create a new File</label>
                    &nbsp;
                    <button style="        background: green;width: 50px;border-radius: 15px;height: 35px;" onclick="showNewFileText()">+</button>
                    &nbsp;&nbsp;
                    <input type="text" id="newfiletext" style="visibility: hidden;width: 400px;" value="" />
                    <button style="        background: #00468b;color: white;height: 50px;width: 100px;" onclick="saveNewFile()">Save</button>
                </div>
            </div>
        </div>
        <section id="wrapper">
            <div class="content">
                <!-- Tab links -->
                <div class="tabs">
                    <button class="tablinks active" data-country="General"><p data-title="General">General</p></button>
                    <button class="tablinks" data-country="DBs"><p data-title="DBs">DBs</p></button>
                    <button class="tablinks" data-country="SQLScript"><p data-title="SQLScript">SQL Script</p></button>
                    <button class="tablinks" data-country="Csv"><p data-title="Csv">Csv</p></button>
                    <button class="tablinks" data-country="SendEmail"><p data-title="SendEmail">Send Email</p></button>
                </div>

                <!-- Tab content -->
                <div class="wrapper_tabcontent">
                    <div id="General" class="tabcontent active">
                        <h3>General</h3>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis: 100%;height: 425px;">
                                <h1 style="color:black;font-weight:bolder">Description</h1>
                                <div id="classdescription" rows="17" cols="100" style="margin: 0px; height: 300px; width: 772px;" readonly>
                                    <h4><strong>Jod that reads a CSV file </strong></h4>
                                    <h5>Service gets data running an sql script and then saves the selected data <em> (insert or/and update)</em> to a destination DB Table. </h5>
                                    <h5>
                                        The relaited SQL Script must return one or two Data Sets (select statements):<br />
                                        1st Data Set: Data to save to destination table.<br />
                                        2nd Data Set: Updated values for the sql parameters (optional).
                                    </h5>
                                    <h5>It also returns the data to caller.</h5>
                                    <h5 style="color: #002868;font-weight:bold">EXAMPLE (1 Data Set) : </h5>
                                    <h5>
                                        <span style="color:darkgreen"> select </span>  TOP (10)  [kdnr],[name1],[name2],[outldate],[prof],[landkz]as lkz INTO #TempTable <br />
                                        <span style="color:darkgreen">FROM </span> [protel].[proteluser].[kunden]
                                    </h5>
                                    <h5 style="color: #002868; font-weight: bold">EXAMPLE (2 Data Sets) :</h5>
                                    <h5>
                                        &nbsp;  IF object_id('tempdb..#TempTable') is not null  drop table
                                        select  TOP (10)  [kdnr],[name1],[name2],[outldate],[prof],[landkz]as lkz INTO #TempTable FROM [protel].[proteluser].[kunden] where kdnr>@@Id <br />
                                        SELECT * from #TempTable                    -- <-- 1st Data Set <br />
                                         SELECT max(kdnr) as Id from #TempTable      -- <-- 2nd Data Set <br />
                                         drop table #TempTable
                                    </h5>
                                    <h5>
                                        In the example above the 2nd Data Set contains the updated value 'Id' for the SQLParameter @@Id (see SQL Script section)
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">serviceVersion : &nbsp;</label>
                                <label data-bind="text:ReadFromCsvViewModel.serviceVersion()" id="serviceVersion"></label>
                            </div>
                        </div>
                    </div>

                    <div id="DBs" class="tabcontent">
                        <h3>DBs</h3>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">Destination DB</label>
                                <input type="password" id="destinationdb" style="width: 32vw;" data-bind="value:ReadFromCsvViewModel.DestinationDB()" />
                                <i class="fas fa-eye" style="color:green;cursor:pointer;" onclick="ShowHideDb('destinationdb')"></i>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">Destination Table Name</label>
                                <input type="text" id="destinationtable" style="width: 42vw;" data-bind="value:ReadFromCsvViewModel.DestinationDBTableName()" />
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">Operation</label>
                                <select name="db" id="DB" onchange="selectCurrentOperation(this)">
                                    <!-- ko if: ReadFromCsvViewModel.DBOperation()==0-->
                                    <option value="InsertsAndUpdates" selected>Inserts And Updates</option>
                                    <option value="InsertsOnly">Inserts Only</option>
                                    <option value="UpdatesOnly">Updates Only</option>
                                    <!-- /ko -->
                                    <!-- ko if: ReadFromCsvViewModel.DBOperation()==1-->
                                    <option value="InsertsAndUpdates">Inserts And Updates</option>
                                    <option value="InsertsOnly" selected>Inserts Only</option>
                                    <option value="UpdatesOnly">Updates Only</option>
                                    <!-- /ko -->
                                    <!-- ko if: ReadFromCsvViewModel.DBOperation()==2-->
                                    <option value="UpdatesOnly" selected>Updates Only</option>
                                    <option value="InsertsAndUpdates">Inserts And Updates</option>
                                    <option value="InsertsOnly">Inserts Only</option>
                                    <!-- /ko -->
                                </select>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">Timeout in Sec</label>
                                <input type="text" id="timeout" style="width: 10vw;" data-bind="value:ReadFromCsvViewModel.dbTimeout()" />
                                <select name="db" id="DB" onchange="selectCurrentDB(this)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="60">60</option>
                                    <option value="90">90</option>
                                    <option value="120">120</option>
                                    <option value="150">150</option>
                                    <option value="180">180</option>
                                    <option value="250">250</option>
                                    <option value="300">300</option>
                                    <option value="420">420</option>
                                    <option value="600">600</option>
                                    <option value="1200">1200</option>
                                    <option value="2000">2000</option>
                                    <option value="5000">5000</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">Transaction</label>
                                <!-- ko if: ReadFromCsvViewModel.DBTransaction()==true-->
                                <input type="checkbox" id="transaction" style="width: 10vw;" checked />
                                <!-- /ko -->
                                <!-- ko if: ReadFromCsvViewModel.DBTransaction()==false-->
                                <input type="checkbox" id="transaction" style="width: 10vw;" />
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>

                    <div id="SQLScript" class="tabcontent">
                        <h3>SQL Script</h3>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label>Destination SQL Pre-Insert/Update Script Name</label>
                                <input type="text" value="" id="sqldestprescript" data-bind="value: ReadFromCsvViewModel.SqlDestPreScript()" />
                            </div>
                        </div>
                    </div>

                    <div id="Csv" class="tabcontent">
                        <h3>  Csv</h3>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label>Csv Path</label>
                                <input type="text" id="csvpath"  data-bind="value:ReadFromCsvViewModel.CsvFilePath()" />
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label>File Header </label>
                                <!-- ko if: ReadFromCsvViewModel.CsvFileHeader()==true-->
                                <input type="checkbox" value="" id="fileheader" data-bind="value:ReadFromCsvViewModel.CsvFileHeader()" checked />
                                <!-- /ko -->
                                <!-- ko if: ReadFromCsvViewModel.CsvFileHeader()==false-->
                                <input type="checkbox" value="" id="fileheader" data-bind="value:ReadFromCsvViewModel.CsvFileHeader()" />
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="flex-container">
            <div class="flex-item " style="flex-basis:100%">
                <h3>Dynamic Add/delete row</h3>
                <div class="col-md-10" style="margin-left: -15px">
                    <div class="table-responsive">
                        <table id="test-table" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Headers</th>
                                    @*<th>Value</th>*@
                                </tr>
                            </thead>
                            <tbody id="test-body">
                                <tr id="row0">
                                    <td>
                                        <input name='from_value0' type='text' class='form-control sqlparamskey' />
                                    </td>
                                    @*<td>
                                        <input name='to_value0' type='text' class='form-control input-md sqlparamsvalue' />
                                    </td>*@
                                    <td>
                                        <input class='delete-row btn btn-primary' type='button' value='Delete' />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input id='add-row' class='btn btn-primary' type='button' value='Add' />
                    </div>
                </div>
            </div>
        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label>Csv  Delimiter </label>
                                <select name="db" id="csvdelim">
                                    <option value=":">:</option>
                                    <option value="Comma">Comma</option>
                                    <option value="Space">Space</option>
                                    <option value="Tab">Tab</option>
                                    <option value="-">-</option>
                                    <option value="@@">@@</option>
                                    <option value="#">#</option>
                                    <option value="$">$</option>
                                    <option value="^">^</option>
                                    <option value="~">~</option>
                                </select>
                                <label> Currently selected</label>
                                <label type="text" style="width:50px;text-align:center"   data-bind="text: ReadFromCsvViewModel.CsvDelimenter()" readonly/>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label>Csv  Encoding </label>
                                <select name="db" id="csvencod">
                                    <option value="UTF8">UTF8</option>
                                    <option value="ASCII">ASCII</option>
                                    <option value="Unicode">Unicode</option>
                                    <option value="UTF7">UTF7</option>
                                    <option value="BigEndianUnicode">BigEndianUnicode</option>
                                </select>
                                <label> Currently selected</label>
                                <label type="text" style="width:50px;text-align:center" data-bind="text: ReadFromCsvViewModel.CsvEncoding()" readonly />
                            </div>
                        </div>

                    </div>
                    <div id="SendEmail" class="tabcontent">
                        <h3>Send Email</h3>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;margin-left:125px;">sendEmailTo</label>
                                &nbsp;
                                <input type="text" id="sendEmailTo" name="sendEmailTo" data-bind="value:ReadFromCsvViewModel.sendEmailTo()">
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">sendEmailOnSuccess</label>
                                &nbsp;
                                <!-- ko if: ReadFromCsvViewModel.sendEmailOnSuccess()==true-->
                                <input type="checkbox" id="sendEmailOnSuccess" name="sendEmailOnSuccess" data-bind="value:ReadFromCsvViewModel.sendEmailOnSuccess()" checked>
                                <!-- /ko -->
                                <!-- ko if: ReadFromCsvViewModel.sendEmailOnSuccess()==false-->
                                <input type="checkbox" id="sendEmailOnSuccess" name="sendEmailOnSuccess" data-bind="value:ReadFromCsvViewModel.sendEmailOnSuccess()">
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item " style="flex-basis:100%">
                                <label style="color:black;">sendEmailOnFailure</label>
                                &nbsp;
                                <!-- ko if: ReadFromCsvViewModel.sendEmailOnFailure()==true-->
                                <input type="checkbox" id="sendEmailOnFailure" name="sendEmailOnFailure" data-bind="value:ReadFromCsvViewModel.sendEmailOnFailure()" checked>
                                <!-- /ko -->
                                <!-- ko if: ReadFromCsvViewModel.sendEmailOnFailure()==false-->
                                <input type="checkbox" id="sendEmailOnFailure" name="sendEmailOnFailure" data-bind="value:ReadFromCsvViewModel.sendEmailOnFailure()">
                                <!-- /ko -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    var ReadFromCsvViewModel = new ReadFromCsvViewModel();
</script>

