.custom-flex-row {
    display: flex;
    flex-direction: row;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.custom-flex-column {
    display: flex;
    flex-direction: column;
}

.custom-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.custom-flex-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.custom-flex-start {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.custom-flex-end {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.custom-flex-space {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.custom-flex-100 {
    display: flex;
    flex-basis: 100%;
}

.custom-flex-99 {
    display: flex;
    flex-basis: 99%;
}

.custom-flex-98 {
    display: flex;
    flex-basis: 98%;
}

.custom-flex-97 {
    display: flex;
    flex-basis: 97%;
}

.custom-flex-96 {
    display: flex;
    flex-basis: 96%;
}

.custom-flex-95 {
    display: flex;
    flex-basis: 95%;
}

.custom-flex-94 {
    display: flex;
    flex-basis: 94%;
}

.custom-flex-93 {
    display: flex;
    flex-basis: 93%;
}

.custom-flex-92 {
    display: flex;
    flex-basis: 92%;
}

.custom-flex-91 {
    display: flex;
    flex-basis: 91%;
}

.custom-flex-90 {
    display: flex;
    flex-basis: 90%;
}

.custom-flex-89 {
    display: flex;
    flex-basis: 89%;
}

.custom-flex-88 {
    display: flex;
    flex-basis: 88%;
}

.custom-flex-87 {
    display: flex;
    flex-basis: 87%;
}

.custom-flex-86 {
    display: flex;
    flex-basis: 86%;
}

.custom-flex-85 {
    display: flex;
    flex-basis: 85%;
}

.custom-flex-84 {
    display: flex;
    flex-basis: 84%;
}

.custom-flex-83 {
    display: flex;
    flex-basis: 83%;
}

.custom-flex-82 {
    display: flex;
    flex-basis: 82%;
}

.custom-flex-81 {
    display: flex;
    flex-basis: 81%;
}

.custom-flex-80 {
    display: flex;
    flex-basis: 80%;
}

.custom-flex-79 {
    display: flex;
    flex-basis: 79%;
}

.custom-flex-78 {
    display: flex;
    flex-basis: 78%;
}

.custom-flex-77 {
    display: flex;
    flex-basis: 77%;
}

.custom-flex-76 {
    display: flex;
    flex-basis: 76%;
}

.custom-flex-75 {
    display: flex;
    flex-basis: 75%;
}

.custom-flex-74 {
    display: flex;
    flex-basis: 74%;
}

.custom-flex-73 {
    display: flex;
    flex-basis: 73%;
}

.custom-flex-72 {
    display: flex;
    flex-basis: 72%;
}

.custom-flex-71 {
    display: flex;
    flex-basis: 71%;
}

.custom-flex-70 {
    display: flex;
    flex-basis: 70%;
}

.custom-flex-69 {
    display: flex;
    flex-basis: 69%;
}

.custom-flex-68 {
    display: flex;
    flex-basis: 68%;
}

.custom-flex-67 {
    display: flex;
    flex-basis: 67%;
}

.custom-flex-66 {
    display: flex;
    flex-basis: 66%;
}

.custom-flex-65 {
    display: flex;
    flex-basis: 65%;
}

.custom-flex-64 {
    display: flex;
    flex-basis: 64%;
}

.custom-flex-63 {
    display: flex;
    flex-basis: 63%;
}

.custom-flex-62 {
    display: flex;
    flex-basis: 62%;
}

.custom-flex-61 {
    display: flex;
    flex-basis: 61%;
}

.custom-flex-60 {
    display: flex;
    flex-basis: 60%;
}

.custom-flex-59 {
    display: flex;
    flex-basis: 59%;
}

.custom-flex-58 {
    display: flex;
    flex-basis: 58%;
}

.custom-flex-57 {
    display: flex;
    flex-basis: 57%;
}

.custom-flex-56 {
    display: flex;
    flex-basis: 56%;
}

.custom-flex-55 {
    display: flex;
    flex-basis: 55%;
}

.custom-flex-54 {
    display: flex;
    flex-basis: 54%;
}

.custom-flex-53 {
    display: flex;
    flex-basis: 53%;
}

.custom-flex-52 {
    display: flex;
    flex-basis: 52%;
}

.custom-flex-51 {
    display: flex;
    flex-basis: 51%;
}

.custom-flex-50 {
    display: flex;
    flex-basis: 50%;
}

.custom-flex-49 {
    display: flex;
    flex-basis: 49%;
}

.custom-flex-48 {
    display: flex;
    flex-basis: 48%;
}

.custom-flex-47 {
    display: flex;
    flex-basis: 47%;
}

.custom-flex-46 {
    display: flex;
    flex-basis: 46%;
}

.custom-flex-45 {
    display: flex;
    flex-basis: 45%;
}

.custom-flex-44 {
    display: flex;
    flex-basis: 44%;
}

.custom-flex-43 {
    display: flex;
    flex-basis: 43%;
}

.custom-flex-42 {
    display: flex;
    flex-basis: 42%;
}

.custom-flex-41 {
    display: flex;
    flex-basis: 41%;
}

.custom-flex-40 {
    display: flex;
    flex-basis: 40%;
}

.custom-flex-39 {
    display: flex;
    flex-basis: 39%;
}

.custom-flex-38 {
    display: flex;
    flex-basis: 38%;
}

.custom-flex-37 {
    display: flex;
    flex-basis: 37%;
}

.custom-flex-36 {
    display: flex;
    flex-basis: 36%;
}

.custom-flex-35 {
    display: flex;
    flex-basis: 35%;
}

.custom-flex-34 {
    display: flex;
    flex-basis: 34%;
}

.custom-flex-33 {
    display: flex;
    flex-basis: 33%;
}

.custom-flex-32 {
    display: flex;
    flex-basis: 32%;
}

.custom-flex-31 {
    display: flex;
    flex-basis: 31%;
}

.custom-flex-30 {
    display: flex;
    flex-basis: 30%;
}

.custom-flex-29 {
    display: flex;
    flex-basis: 29%;
}

.custom-flex-28 {
    display: flex;
    flex-basis: 28%;
}

.custom-flex-27 {
    display: flex;
    flex-basis: 27%;
}

.custom-flex-26 {
    display: flex;
    flex-basis: 26%;
}

.custom-flex-25 {
    display: flex;
    flex-basis: 25%;
}

.custom-flex-24 {
    display: flex;
    flex-basis: 24%;
}

.custom-flex-23 {
    display: flex;
    flex-basis: 23%;
}

.custom-flex-22 {
    display: flex;
    flex-basis: 22%;
}

.custom-flex-21 {
    display: flex;
    flex-basis: 21%;
}

.custom-flex-20 {
    display: flex;
    flex-basis: 20%;
}

.custom-flex-19 {
    display: flex;
    flex-basis: 19%;
}

.custom-flex-18 {
    display: flex;
    flex-basis: 18%;
}

.custom-flex-17 {
    display: flex;
    flex-basis: 17%;
}

.custom-flex-16 {
    display: flex;
    flex-basis: 16%;
}

.custom-flex-15 {
    display: flex;
    flex-basis: 15%;
}

.custom-flex-14 {
    display: flex;
    flex-basis: 14%;
}

.custom-flex-13 {
    display: flex;
    flex-basis: 13%;
}

.custom-flex-12 {
    display: flex;
    flex-basis: 12%;
}

.custom-flex-11 {
    display: flex;
    flex-basis: 11%;
}

.custom-flex-10 {
    display: flex;
    flex-basis: 10%;
}

.custom-flex-9 {
    display: flex;
    flex-basis: 9%;
}

.custom-flex-8 {
    display: flex;
    flex-basis: 8%;
}

.custom-flex-7 {
    display: flex;
    flex-basis: 7%;
}

.custom-flex-6 {
    display: flex;
    flex-basis: 6%;
}

.custom-flex-5 {
    display: flex;
    flex-basis: 5%;
}

.custom-flex-4 {
    display: flex;
    flex-basis: 4%;
}

.custom-flex-3 {
    display: flex;
    flex-basis: 3%;
}

.custom-flex-2 {
    display: flex;
    flex-basis: 2%;
}

.custom-flex-1 {
    display: flex;
    flex-basis: 1%;
}

.custom-flex-0 {
    display: flex;
    flex-basis: 0%;
}

.custom-footer-main {
    height: 0vh !important;
}

.custom-body {
    height: 96vh;
}

.custom-header {
    background-color: #DFE3E4;
}

.hit-logo {
    background-image: url('../Images/HIT LOGOS gray.png');
    background-repeat: no-repeat;
    width: 86px;
    height: 25px;
}

.custom-header-phone-text {
    padding-left: 5%;
}

.custom-header-user-text {
    padding-left: 5%;
}

.custom-header-search-product-input {
    width: 90% !important;
    height: 80% !important;
    background-color: #DFE3E4 !important;
}

.custom-header-search-product-keyboard {
    width: 70%;
    height: 65%;
}

.custom-header-notification {
    width: 70%;
    height: 80%;
}

.custom-header-navigation {
    color: white;
    cursor: pointer;
}

.pages-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    padding-top: 1%;
    margin: 0px;
}

.pages-button {
    background-image: linear-gradient(-180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
    width: 75%;
    height: 55%;
    border-radius: 100px;
}

.pages-tab {
    height: 100%;
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 16px;
    cursor: pointer;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 0.5%;
    margin: 0% 0.1%;
    background-color: #D0D6D7;
}

.pages-tab-selected {
    background-color: #FFFFFF;
}

.page-buttons-main-container {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.page-buttons-container {
    align-content: flex-start;
    padding: 0.5%;
}

.page-buttons-page-button {
    width: 16.66%;
    height: 16.66%;
}

.page-buttons-page-button-button {
    width: 95%;
    height: 95%;
    padding: 0%;
    background-color: #FFFFFF;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.21) 100%);
    border-radius: 10px;
}

.page-buttons-page-button-button-permanent-shortage {
    background-color: #FF3B00;
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.page-buttons-page-button-description {
    padding: 3%;
    text-align: start;
    white-space: normal;
    overflow: hidden;
}

.page-buttons-page-button-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page-buttons-navigation-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: none;
}

.page-button-details-main-container {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.page-button-details-container {
    align-content: flex-start;
    padding: 0.5%;
    overflow: hidden;
}

.page-button-details-button-main-container {
    width: 25%;
    height: 33.33%;
    padding: 0.5%;
}

.page-button-details-button-container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DAE0E0;
}

.page-button-details-button-selected {
    border: 2px solid #00FF95;
}

.page-button-details-button-buttons {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.page-button-details-button-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page-button-details-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #DAE0E0;
    box-shadow: none;
}

.page-button-details-inverse {
    background-color: #475859 !important;
    color: #FFFFFF !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.page-button-details-navigation-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: none;
}

.page-button-details-all-button {
    width: 90%;
    height: 80%;
}

.multiplier-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1%;
}

.multiplier-button {
    width: 60%;
    height: 75%;
}

.multiplier-other-button {
    width: 60%;
    height: 75%;
}

.selection-button {
    width: 65%;
    height: 75%;
}

.order-container {
    border-radius: 10px;
    padding: 1% 2%;
    overflow-y: hidden;
}

.order-container-header {
    background-color: #909494;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0% 4%;
    opacity: 0.8;
}

.order-container-body {
}

.order-container-body-item {
    height: 33px;
    margin-top: 0.3%;
    padding: 0% 2%;
    background-color: #BEC7C8;
    cursor: pointer;
}

.order-container-body-loyalty-item {
    background-color: rgba(228, 123, 228, 0.4);
}

.order-container-body-vodafone-item {
    background-color: rgba(228, 123, 123, 0.40);
}

.order-container-body-discount {
    height: 18px;
    background-color: #FFBC00;
}

.order-container-body-extra {
    height: 18px;
    width: 70%;
    margin-left: 30%;
    background-color: #00FF95;
}

.order-container-body-extra-without {
    height: 18px;
    width: 70%;
    margin-left: 30%;
    background-color: #00FF95;
}

.order-container-body-remark {
    height: 18px;
    width: 70%;
    margin-left: 30%;
    background-color: #00C4FF;
}

.order-container-footer {
    background-color: #909494;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1% 4%;
    opacity: 1;
}

.order-container-footer-divider {
    border-top: 1px solid #FFFFFF;
    opacity: 0.3;
}

.order-container-footer-button {
    width: 80%;
    height: 65%;
}

.order-tools-panel-button-container {
    width: 33%;
    height: 45px;
}

.order-tools-panel-button {
    width: 90%;
    height: 90%;
}

.all-page-button-details-modal {
    width: 65%;
    height: 96vh;
    position: fixed;
    display: none;
    z-index: 950;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.all-page-button-details-modal-header {
    padding: 1% 2%;
}

.all-page-button-details-modal-body {
    overflow-y: hidden;
}

.all-page-button-details-modal-ingredient-input {
    width: 90% !important;
    height: 90% !important;
    background-color: #DFE3E4 !important;
}

.all-page-button-details-modal-ingredient-keyboard {
    width: 90%;
    height: 90%;
}

.all-page-button-details-modal-container {
    height: 100% !important;
    align-content: flex-start;
    padding: 0.5%;
}

.all-page-button-details-modal-some-button {
    width: 90%;
    height: 80%;
}

.all-page-button-details-modal-button-main-container {
    width: 25%;
    height: 45px;
    padding: 0.5%;
}

.all-page-button-details-modal-button-container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DAE0E0;
}

.all-page-button-details-modal-button-selected {
    border: 2px solid #00FF95;
}

.all-page-button-details-modal-button-buttons {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.all-page-button-details-modal-inverse {
    background-color: #475859 !important;
    color: #FFFFFF !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.all-page-button-details-modal-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #DAE0E0;
    box-shadow: none;
}

.all-page-button-details-modal-button-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modify-order-item-all-extras-container {
    padding: 1%;
    overflow-y: hidden;
}

.modify-order-item-all-extras-main-button-container {
    height: 100% !important;
}

.modify-order-item-all-extras-button-container {
    height: 45px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DAE0E0;
}

.modify-order-item-all-extras-button-selected {
    border: 2px solid #00FF95;
}

.modify-order-item-all-extras-buttons {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modify-order-item-all-extras-inverse {
    background-color: #475859 !important;
    color: #FFFFFF !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.modify-order-item-all-extras-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #DAE0E0;
    box-shadow: none;
}

.modify-order-item-all-extras-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modify-order-item-extras-container {
    height: 100% !important;
    background-color: rgba(0, 255, 149, 0.25);
}

.modify-order-item-extras-extra {
    height: 33px;
    margin: 1%;
}

.modify-order-item-extras-extra-button {
    cursor: pointer;
}

.modify-order-item-extras-quantity-input {
    width: 100% !important;
    height: 80% !important;
}

.modify-order-item-extras-quantity-label {
    width: 100%;
    height: 80%;
}

.modify-order-item-extras-quantity-keyboard {
    width: 70%;
    height: 65%;
}

.modify-order-item-extras-remark-input {
    width: 100% !important;
    height: 80% !important;
}

.modify-order-item-extras-remark-keyboard {
    width: 70%;
    height: 65%;
}

.modify-order-item-item-button {
    width: 95%;
    height: 70%;
}

.customer-info-main-container {
    padding: 1%;
}

.customer-info-container {
    border-radius: 5px;
    background-color: rgba(255, 165, 0, 0.25);
}

.customer-info-item {
    padding: 0% 2%;
}

.order-info {
    margin-right: 35%;
}

.order-info-main-container {
    padding: 1%;
}

.order-info-total {
    background-color: rgba(88, 127, 160, 0.20);
}

.order-info-total-before-discount {
    background-color: rgba(64, 154, 218, 0.20);
}

.order-info-discount {
    background-color: rgba(255, 188, 0, 0.20);
}

.order-info-loyalty {
    background-color: rgba(255, 188, 0, 0.20);
}

.order-info-button-one {
    width: 100%;
    height: 80%;
}

.order-info-button-two {
    width: 70%;
    height: 80%;
}

.order-info-picker-label {
    width: 90%;
    height: 80%;
}

.order-info-picker-button {
    width: 95%;
    height: 70%;
}

.order-info-remark {
    width: 100%;
    height: 90% !important;
    resize: none;
}

.discounts-container {
    padding: 2%;
}

.discounts-discount {
    height: 37px;
    margin: 0.4% 0%;
    border: 1px solid #C4C4C4;
    border-radius: 5px 0 0 5px;
}

.discount-discount-divider {
    border: 1px solid #597FA0;
    opacity: 0.3;
}

.discounts-discount-button {
    width: 90%;
    height: 85%;
}

.loyalty-options-body {
    overflow: hidden;
}

.loyalty-options-container {
    padding: 1.5%;
}

.loyalty-divider {
    border: 1px solid #597FA0;
    opacity: 0.3;
}

.loyalty-item {
    height: 35px;
    margin: 0.5% 0%;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.loyalty-amount-discount-button {
    width: 60%;
    height: 60%;
}

.loyalty-free-product-button {
    width: 60%;
    height: 80%;
}

.loyalty-product-options-body {
    overflow-y: hidden;
}

.loyalty-product-options-option-header {
    height: 30px;
    padding: 0% 2%;
}

.loyalty-product-options-product-button-container {
    width: 20%;
    height: 70px;
}

.loyalty-product-options-product-button {
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.loyalty-product-options-inserted-products-container {
    padding: 0% 2%;
}

.loyalty-product-options-inserted-product {
    height: 30px;
    margin: 0.5% 0%;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.loyalty-product-options-inserted-product-button {
    width: 60%;
    height: 90%;
}

.recipe-main-header {
    padding: 0% 5%;
}

.recipe-main-body {
    overflow: hidden;
}

.recipe-main-container {
    padding: 2% 3%;
}

.recipe-container {
    margin: 2%;
    border-radius: 5px;
    background-color: rgba(0, 255, 149, 0.25);
}

.extra-container {
    margin: 2%;
    border-radius: 5px;
    background-color: rgba(0, 255, 49, 0.25);
}

.recipe-item {
    margin: 1% 0%;
}

.customer-addresses-container {
    padding: 1%;
}

.custom-full-width {
    width: 100%;
}

.custom-quarter-width {
    width: 25%;
}

.custom-half-width {
    width: 50%;
}

.custom-third-width {
    width: 75%;
}

.custom-full-height {
    height: 100%;
}

.customer-addresses-item {
    padding: 0.5% 2%;
    border-bottom: 1px dotted #C4C4C4;
}

.vodafone-discounts-container {
    padding: 2%;
    overflow-y: hidden;
}

.vodafone-discounts-code-input {
    width: 80% !important;
    height: 75% !important;
}

.vodafone-discounts-divider {
    border: 1px solid #597FA0;
    opacity: 0.3;
}

.vodafone-discounts-button-container {
    height: 45px;
}

.vodafone-discounts-button {
    width: 80%;
    height: 75%;
}
